@import 'app/Styles/Colors.scss';

.auth {
  box-shadow: -1px -0.5px 5px $black-200;
  display: inline-block;
  font-size: 14px;
  padding: 16px;
  width: 100%;

  input {
    box-sizing: border-box;
    color: black;
    outline: none;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $gray-100;
    display: inline-block;
    font-size: 14px;
    margin: 8px 0;
    padding: 12px 20px;
  }

  input:hover,
  input:focus {
    border: 1px solid $blue-300;
  }

  input[type='checkbox'] {
    display: block;
    height: 12px;
    margin: 0 5px 0 0;
    position: relative;
    width: 12px;
  }

  ::placeholder,
  ::-webkit-input-placeholder,
  :-ms-input-placeholder {
    color: $gray-200;
    opacity: 0.6;
  }

  .buttons {
    border-bottom: 1px solid $gray-100;
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    width: 100%;

    .button-container {
      flex: 1;

      button {
        background-color: white;
        border: none;
        color: black;
        cursor: pointer;
        margin: 8px 0;
        outline: none;
      }

      .active {
        color: $primary-color;
      }
    }

    .button-container:not(:last-child) {
      border-right: 1px solid $gray-100;
    }
  }

  .strenth {
    color: $gray-200;
    margin: 8px 0;
    text-align: right;

    span {
      background: $gray-200 0% 0% no-repeat padding-box;
      border-radius: 6px;
      display: inline-block;
      height: 4px;
      margin-right: 5px;
      opacity: 1;
      vertical-align: middle;
      width: 15px;
    }
  }

  .login-btn {
    background: $primary-color 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 7px 20px $black-100;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 47px;
    text-align: center;
    width: 100%;
  }

  .terms {
    color: $gray-200;
    opacity: 1;

    strong {
      text-decoration: underline;
    }
  }

  .m1 div {
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .m2 {
    display: flex;

    .form-check {
      padding: 0;

      .form-check-label {
        margin-right: 5px;
      }
    }
    .link {
      color: $gray-200;
      text-decoration: underline;
    }
  }
}

.popover {
  width: 370px;
  max-width: 370px;
}
